# Dependency directories
node_modules/
.pnp/
.pnp.js

# Production build output
build/
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing
coverage/

# Editor directories and files
.vscode/
!.vscode/extensions.json # Keep extensions.json if desired for consistent setup
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

# Thumbnails and system files
Thumbs.db
Desktop.ini

# Miscellaneous
*.local

# Python
Backend/venv/
Backend/__pycache__/
Backend/*.pyc
Backend/instance/
*.db

# Environment files
.env
.env.local
